@font-face {
    font-family: Fira Sans;
    src: url("fonts/FiraSans-Regular.ttf");
}

* {
    margin: 0;
    padding: 0;
    font-family: Fira Sans, sans-serif, Arial;
    font-weight: normal;
    font-size: 1em;
}

:root {
    --main-background-color: #7CBAF9;
    --second-background-color: #7FACAC;
    --card-background-color: #CBDFF4;
    --blue-text-color: #020275;
    --card-shadow-color: #00000029;
    --card-text-color: #3D3D3F;
    --card-task-bg-color: #93C4F5;
    --light-color: #fff;

    --columns: 4;
    --betweenColumns: 15px;
}

html {
    min-height: 100vh;
}

body {
    background: linear-gradient(1deg, var(--second-background-color) 0%, var(--main-background-color) 100%);
    background-repeat: no-repeat;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: var(--card-text-color);

}

/* -------------- HEADER -------------- */

#main-header {
    width: 100%;
    box-sizing: border-box;
    height: fit-content;
    background-color: var(--main-header-color);
    display: flex;   
    align-items: center;
    justify-content: space-between;
    font-size: 36px;
    color: var(--blue-text-color);
    margin-bottom: 20px;
    padding: 0 25px;
    flex-wrap: wrap;
}

#main-header h3 {
    text-align: center;
}

#profile-info {
    display: flex;
    align-items: center;
    justify-content: center;
}

#profile-info-avatar {
    width: 100px;
    height: 100px;
    margin-left: 20px;
    margin-right: 5px;
    border-radius: 50%;
    background: url("images/cyberpunk-2077-keanu-reeves-cd-projekt-red@2x.png") center / cover no-repeat;
}

/* -------------- MAIN CONTENT -------------- */

#main-content-container {
    overflow: hidden;
}

#main-content {
    padding: 0 50px;
    display: flex;
    flex-wrap: wrap;
    margin: calc(-1 * var(--betweenColumns));
}

.element-container {
    display: flex;
    width: calc(1/var(--columns) * 100% - 2 * var(--betweenColumns));
    margin: var(--betweenColumns);
}

.card {
    background: var(--card-background-color);
    box-shadow: var(--card-shadow-color) 2px 2px 4px;
    border-radius: 20px;
    padding: 25px;
    color: var(--card-text-color);
    height: fit-content;
    width: 100%;
}

.card-header {
    color: var(--blue-text-color);
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
    word-break: break-all;
}

.card-task {
    border: var(--card-task-bg-color) solid 2px;
    background-color: var(--card-task-bg-color);
    padding: 10px;
    box-shadow: 2px 2px 4px #00000029;
    border-radius: 14px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    text-align: left;
    transition: all .25s ease-in-out;
    box-sizing: border-box;
}

.card-task:empty {
    display: none;
}

.card-task:hover {
    background-color: var(--main-background-color);
    border: var(--blue-text-color) solid 2px;
}

.card-task-text {
    width: 70%;
    margin-right: 5px;
    word-break: break-all;
}

.card-task-icons {
    width: 30%;
}

.card-task-icons-first-row, .card-task-icons-second-row {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

.card-task-icon {
    width: 30px;
    height: 30px;
    padding: 3px;
    min-width: 30px;
    opacity: 0.75;
    transition: opacity .25s ease-in-out;
}

.card-task-icon:hover {
    opacity: 1;
    cursor: pointer;
}

.element-container:first-child .card-task-icon-left {
    display: none;
}

.element-container:nth-last-child(2) .card-task-icon-right {
    display: none;
}

.card-task-icon-left {
    display: inline;
    background: url("assets/left-arrow.svg") center no-repeat;
}

.card-task-icon-right {
    background: url("assets/right-arrow.svg") center no-repeat;
}

.card-task-icon-edit {
    background: url("assets/edit.svg") center no-repeat;
}

.card-task-icon-delete {
    background: url("assets/delete-button.svg") center no-repeat;
}

.card-add-new {
    padding: 5px;
    transition: all .25s ease-in-out;
    opacity: 0.75;
    font-weight: bolder;
    font-size: 18px;
}

.card-add-new:hover {
    opacity: 1;
    cursor: pointer;
}

.card-add-list-button {
    font-size: 24px;
    transition: opacity .25s ease-in-out;
    opacity: 0.9;
    outline: none;
    font-weight: bolder;
}

.card-add-list-container {
    transition: background-color .25s ease-in-out;
    background-color: rgba(203, 223, 244, 0.85);
}

.card-add-list-container:hover {
    background-color: rgba(203, 223, 244, 1);
    cursor: pointer;
}

.card-add-list-container:hover .card-add-list {
    opacity: 1;
}

.card-add-list-input {
    background: var(--light-color);
    cursor: pointer;
    padding: 5px;
    box-shadow: 0px 0px 3px #222223;
    border: none;
    display: none;
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
    outline: none;
}

.card-add-list-input:focus {
    border: rgba(0, 0, 0, 0.75) solid 1px;
}

/* -------------- MEDIA QUERIES -------------- */

@media only screen and (max-width : 1200px) {
    :root {
        --columns: 3;
    }
}

@media only screen and (max-width : 992px) {
    :root {
        --columns: 2;
    }

    #main-header {
        justify-content: space-around;
        font-size: 28px;
    }
}

@media only screen and (max-width : 576px) {
    :root {
        --columns: 1;
    }
}
